<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="font-weight-bold">
        <td></td>
        <td>Pseudo</td>
        <td>Score</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let collegue of collegues" (click)="detail(collegue)">
        <td>
          <img src="{{ collegue.urlImage }}" alt="Image" width="70" height="70">
        </td>
        <td>{{ collegue.nom }}</td>
        <td>{{ collegue.score }}</td>
        <td>
          <app-le-score [collegue]="collegue"></app-le-score>
        </td>
      </tr>
    </tbody>
  </table>
</div>